<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540963147362-402i2qsm64eridg01s5iq2gonlvh5iit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540963147362-402i2qsm64eridg01s5iq2gonlvh5iit</string>
	<key>API_KEY</key>
	<string>AIzaSyCrtzTO1fpn_biNVoPJLEw_W4kwrzDwqT8</string>
	<key>GCM_SENDER_ID</key>
	<string>540963147362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deltavel.Delta-Vel-Development-Services</string>
	<key>PROJECT_ID</key>
	<string>delta-vel-development</string>
	<key>STORAGE_BUCKET</key>
	<string>delta-vel-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540963147362:ios:6d1a8c501be7f4a8fa4b3b</string>
	<key>DATABASE_URL</key>
	<string>https://delta-vel-development-default-rtdb.firebaseio.com</string>
</dict>
</plist>